table {
  width: 100%;
}

.mandatory {
  color: orange;
}

.true {
  color: green;
}

.false {
  color: red;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 25px;

}

th.mat-sort-header-sorted {
  color: black;
}

