<form [formGroup]="courseFormGroup" class="course-form">
  <mat-form-field>
    <input matInput type="text" placeholder="Name" formControlName="name" required>
    <mat-hint align="end">The name of the Course</mat-hint>
    <mat-error *ngIf="courseFormGroup.controls.name.hasError('required')">Name is required</mat-error>
    <mat-error *ngIf="courseFormGroup.controls.name.hasError('pattern')">Name can only contain uppercase letters!</mat-error>
    <mat-error *ngIf="courseFormGroup.controls.name.hasError('minlength')">Name must contain at least 2 characters!</mat-error>
    <mat-error *ngIf="courseFormGroup.controls.name.hasError('maxlength')">Name can only contain 50 characters!</mat-error>
    <mat-error *ngIf="courseFormGroup.controls.name.hasError('nameAlreadyExists')">Name already exists!</mat-error>
  </mat-form-field>


  <mat-form-field>
    <input matInput type="text" placeholder="Description" formControlName="description">
    <mat-hint align="end">The description of the Course</mat-hint>
    <mat-error *ngIf="courseFormGroup.controls.description.hasError('minlength')">Description must contain at least 10 characters!</mat-error>
    <mat-error *ngIf="courseFormGroup.controls.description.hasError('maxlength')">Description can only contain 400 characters!</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Students" formControlName="students" multiple>
      <mat-option [value]="userOption.id"
                  *ngFor="let userOption of userOptions">{{userOption.fullname}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Students of the Course</mat-hint>
    <mat-error *ngIf="courseFormGroup.controls.students.hasError('required')">At least 1 student is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Lecturer" formControlName="lecturer" multiple>
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="userOption.id"
                  *ngFor="let userOption of userOptions">{{userOption.fullname}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Lecturer of the Course</mat-hint>
    <mat-error *ngIf="courseFormGroup.controls.lecturer.hasError('required')">Lecturer is required</mat-error>
  </mat-form-field>


  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!courseFormGroup.valid" (click)="createCourse()" *ngIf="userService.hasPermission('attendiApp.add_course' && 'attendiApp.change_course')">
      <span *ngIf="!courseFormGroup.controls.id.value">Create</span>
      <span *ngIf="courseFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
