<mat-toolbar *ngIf="isLoggedIn">
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="!isStudent">User</button>
  <mat-menu  #userMenu="matMenu">
    <button mat-menu-item routerLink="user-list">List Users</button>
    <button mat-menu-item routerLink="user-form">Create User</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="courseMenu">Courses</button>
  <mat-menu #courseMenu="matMenu">
    <button mat-menu-item routerLink="course-list">List Courses</button>
    <button mat-menu-item routerLink="course-form" *ngIf="userService.hasPermission('attendiApp.add_course')">Create Course</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="courseSessionMenu">Course Sessions</button>
  <mat-menu #courseSessionMenu="matMenu">
    <button mat-menu-item routerLink="attendance-list">My Course Sessions</button>
    <button mat-menu-item routerLink="courseSession-list">Course Sessions</button>
    <button mat-menu-item routerLink="courseSession-form" *ngIf="userService.hasPermission('attendiApp.add_coursesession')">Create Course Session</button>
  </mat-menu>
  <button mat-button routerLink="statistic-list">Statistics</button>
  <app-logout></app-logout>
</mat-toolbar>
<router-outlet></router-outlet>
