<!-- <div *ngIf="!initializing">
  <table class="table" *ngIf="medias?.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Größe</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let media of medias; let i = index;">
      <td><strong>{{ media.original_file_name }}</strong></td>
      <td>{{ media.size/1024/1024 | number }}&nbsp;MB</td>
      <td>
        <span *ngIf="!media.id">Wird hochgeladen...</span>
        <span *ngIf="media.id">Hochgeladen</span>
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="downloadMedia(media)">
            Download
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteMedia(i)">
            Entfernen
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <input type="file" [accept]="accept" ng2FileSelect [uploader]="uploader" [multiple]="true"/>
</div> -->
