<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="userFormGroup">
    <form [formGroup]="userFormGroup" class="form">

      <ng-template matStepLabel>Create User</ng-template>

      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="First name" formControlName="first_name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="last_name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="E-mail address" formControlName="email" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>

      <div>
        <button mat-raised-button matStepperNext [disabled]="!userFormGroup.valid" (click)="createUser()">
          <span *ngIf="!userFormGroup.controls.id.value">Create</span>
          <span *ngIf="userFormGroup.controls.id.value">Update</span>
        </button>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="profileFormGroup" *ngIf="userFormGroup.controls.id.value">
    <form [formGroup]="profileFormGroup" class="form">

      <ng-template matStepLabel>Add Profile Information</ng-template>

      <app-date placeholder="Date of Birth" formControlName="date_of_birth" [required]="true" [startDate]="startDate" [maxDate]="maxDate"></app-date>

      <mat-form-field>
        <mat-select placeholder="Role" formControlName="role" required>
          <mat-option [value]="null">Unknown</mat-option>
          <mat-option [value]="role.key"
                      *ngFor="let role of roleService.roles | keyvalue">{{role.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Group" formControlName="student_group" required>
          <mat-option [value]="null">Unknown</mat-option>
          <mat-option [value]="group.key"
                      *ngFor="let group of studentGroupService.studentGroups | keyvalue">{{group.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Profile Image" formControlName="image">
      </mat-form-field>

      <div>
        <button mat-raised-button (click)="updateProfile()">Update Profile</button>
      </div>

    </form>
  </mat-step>
</mat-vertical-stepper>
