<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="userFormGroup">
    <form [formGroup]="userFormGroup" class="form">

      <ng-template matStepLabel>Create User</ng-template>

      <mat-form-field>
        <input matInput id="username" placeholder="Username" formControlName="username" required>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('pattern')">Username can only contain letters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('required')">Username is required!</mat-error>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('minlength')">Username must contain at least 5
          characters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('maxlength')">Username can only contain 15
          characters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.username.hasError('usernameAlreadyExists')">Username already exists!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="First name" formControlName="first_name" required>
        <mat-error *ngIf="userFormGroup.controls.first_name.hasError('pattern')">Firstname can only contain letters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.first_name.hasError('required')">Firstname is required!</mat-error>
        <mat-error *ngIf="userFormGroup.controls.first_name.hasError('minlength')">Firstname must contain at least 3
          characters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.first_name.hasError('maxlength')">Firstname can only contain 30
          characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="last_name" required>
        <mat-error *ngIf="userFormGroup.controls.last_name.hasError('pattern')">Lastname can only contain letters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.last_name.hasError('required')">Lastname is required!</mat-error>
        <mat-error *ngIf="userFormGroup.controls.last_name.hasError('minlength')">Lastname must contain at least 3
          characters!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.last_name.hasError('maxlength')">Lastname can only contain 30
          characters!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="email" placeholder="E-mail address like firstname.lastname@edu.fh-joanneum.at"
               formControlName="email" required>
        <mat-error *ngIf="userFormGroup.controls.email.hasError('required')">E-mail is required!</mat-error>
        <mat-error *ngIf="userFormGroup.controls.email.hasError('invalidMail')">Mail is invalid! Mail must contain
          @edu.fh-joanneum.at!
        </mat-error>
        <mat-error *ngIf="userFormGroup.controls.email.hasError('emailAlreadyExists')">E-mail already exists!
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Group" formControlName="groups" required>
          <mat-option [value]="null">Unknown</mat-option>
          <mat-option [value]="groupOption.id"
                      *ngFor="let groupOption of groupOptions">{{groupOption.name}}</mat-option>

        </mat-select>
        <mat-error *ngIf="userFormGroup.controls.groups.hasError('required')">Group is required!</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="userFormGroup.controls.password.hasError('required')">Password is required!</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button matStepperNext [disabled]="!userFormGroup.valid" (click)="createUser()">
          <span *ngIf="!userFormGroup.controls.id.value">Create</span>
          <span *ngIf="userFormGroup.controls.id.value">Update</span>
        </button>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="profileFormGroup" *ngIf="userFormGroup.controls.id.value">
    <form [formGroup]="profileFormGroup" class="form">

      <ng-template matStepLabel>Add Profile Information</ng-template>

      <app-date placeholder="Date of Birth" formControlName="date_of_birth" [startDate]="startDate"
                [maxDate]="maxDate" [required]="true"></app-date>

      <mat-form-field>
        <mat-select placeholder="Group" formControlName="student_group" [required]="true">
          <mat-option [value]="null">Unknown</mat-option>
          <mat-option [value]="group.key"
                      *ngFor="let group of studentGroupService.studentGroups | keyvalue">{{group.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="profileFormGroup.controls.student_group.hasError('required')">Studentgroup is required!
        </mat-error>
      </mat-form-field>


      <input style="display: none" type="file" accept="image/jpeg, image/png" (change)="onFileSelected($event)"
             #fileUpload/>
      <button mat-button (click)="fileUpload.click()">Pick File</button>
      <input *ngIf="selectedImage" matInput readonly value="Selected File: {{selectedImage.name}}">
      <input *ngIf="!selectedImage" matInput readonly value="Current Image: {{currentImage}}">

      <div>
        <button mat-raised-button (click)="updateProfile()">Update Profile</button>
      </div>

    </form>
  </mat-step>
</mat-vertical-stepper>
