<form [formGroup]="coursesessionFormGroup" class="coursesession-form">

  <mat-form-field>
    <mat-select placeholder="Location" formControlName="location">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="location.key"
                  *ngFor="let location of locationService.locations | keyvalue">{{location.value}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Location of the Coursesession</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="mandatory">Mandatory</mat-checkbox>

  <mat-form-field>
    <input matInput type="text" placeholder="Mandatory" formControlName="location" required>
    <mat-hint align="end">The location of the coursesession</mat-hint>
    <mat-error *ngIf="coursesessionFormGroup.controls.location.hasError('required')">Location is required</mat-error>
    <mat-error *ngIf="coursesessionFormGroup.controls.location.hasError('locationAlreadyExists')">Location already exists</mat-error>
  </mat-form-field>

  <app-date placeholder="Date" formControlName="date" hint="The date of the coursesession"
            [required]="true"></app-date>

  <mat-form-field>
    <input matInput type="text" placeholder="Start Time" formControlName="start_time">
    <mat-hint align="end">The Start Time of the Coursesession</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="End Time" formControlName="end_time">
    <mat-hint align="end">The End Time of the Coursesession</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Course" formControlName="course">
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="courseOption.id"
                  *ngFor="let courseOption of courseOptions">{{courseOption.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Course of the Coursesession</mat-hint>
  </mat-form-field>


  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!coursesessionFormGroup.valid" (click)="createCourseSession()">
      <span *ngIf="!coursesessionFormGroup.controls.id.value">Create</span>
      <span *ngIf="coursesessionFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
