<form [formGroup]="coursesessionFormGroup" class="coursesession-form">

  <mat-form-field>
    <mat-select placeholder="Location" formControlName="location" required>
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="location.key"
                  *ngFor="let location of locationService.locations | keyvalue">{{location.value}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Location of the Coursesession</mat-hint>
  </mat-form-field>

  <br>
  <mat-checkbox formControlName="mandatory">Mandatory</mat-checkbox>
  <br>

  <app-date placeholder="Date" formControlName="date" hint="The date of the coursesession"
            [required]="true"></app-date>
  <br>

  <app-time placeholder="Start Time" id="start" formControlName="start_time" hint="The start time of the coursesession"
            [required]="true"></app-time>
  <br>

  <app-time placeholder="End Time" id="end" formControlName="end_time" hint="The end time of the coursesession"
            [required]="true"></app-time>
  <br>

  <mat-form-field>
    <mat-select placeholder="Course" formControlName="course" required>
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="courseOption.id"
                  *ngFor="let courseOption of courseOptions">{{courseOption.name}}</mat-option>
    </mat-select>
    <mat-hint align="end">The Course of this Session</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Group" formControlName="student_group" required>
      <mat-option [value]="null">Unknown</mat-option>
      <mat-option [value]="group.key"
                  *ngFor="let group of studentGroupService.studentGroups | keyvalue">{{group.value}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!coursesessionFormGroup.valid" (click)="createCourseSession()" *ngIf="userService.hasPermission('attendiApp.add_coursesession' && 'attendiApp.change_coursesession')">
      <span *ngIf="!coursesessionFormGroup.controls.id.value">Create</span>
      <span *ngIf="coursesessionFormGroup.controls.id.value">Update</span>
    </button>
  </mat-card-actions>
</form>
